= form_for @user do |f|
  -if @user.errors.any?
    .alert-message.block-message.error
      %h2= "Sorry, there appears to be errors on this form. Please correct the following errors and resubmit."
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .clearfix
      = f.label :username
      .input
        = f.text_field :username, :placeholder => "Enter the username"
    .clearfix
      = f.label :password
      .input
        = f.text_field :password, :type => :password
    .clearfix
      = f.label :is_active
      .input
        = f.check_box :is_active
    .clearfix
      = f.label :is_super_admin
      .input
        = f.check_box :is_super_admin
  .actions
    = f.submit 'Save', :class => "btn primary"
    -if @user.persisted?
      = link_to 'Cancel', @user, :class => "btn"
    = link_to 'List', users_path, :class => "btn"
