= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .clearfix
      = f.label :username
      .input
        = f.text_field :username
    .clearfix
      = f.label :password
      .input
        = f.text_field :password
    .clearfix
      = f.label :is_active
      .input
        = f.check_box :is_active
    .clearfix
      = f.label :is_super_admin
      .input
        = f.check_box :is_super_admin
  .actions
    = f.submit 'Save', :class => "btn primary"
    -if @user.persisted?
      = link_to 'Cancel', @user, :class => "btn"
    = link_to 'List', users_path, :class => "btn"
