.row
  .span12
    %h1 Users

    %table{:class => "table table-striped"}
      %tr
        %th Username
        %th Is active
        %th Is super admin
        %th
        %th

      - @users.each do |user|
        %tr
          %td= user.username
          %td= user.is_active ? "yes" : "no"
          %td= user.is_super_admin ? "yes" : "no"
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)

    = link_to 'New User', new_user_path, :class => "btn primary"
