= form_for @story do |f|
  -if @story.errors.any?
    #error_explanation
      %h2= "#{pluralize(@story.errors.count, "error")} prohibited this story from being saved:"
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .clearfix
      = f.label :name
      .input
        = f.text_field :name
    .clearfix
      = f.label :description
      .input
        = f.text_area :description
    .clearfix
      = f.label :status
      .input
        = f.select :status, Story.status_options
    .clearfix
      = f.label :user_id
      .input
        = f.select :user_id, Story.user_options
    .clearfix
      = f.label :points
      .input
        = f.number_field :points
    .clearfix
      = f.label :priority
      .input
        = f.number_field :priority
    .actions
      = f.submit 'Save', :class => "btn primary"
      -if @story.persisted?
        = link_to 'Cancel', @story, :class => "btn"
      = link_to 'List', stories_path, :class => "btn"
