= form_for @story do |f|
  -if @story.errors.any?
    #error_explanation
      %h2= "#{pluralize(@story.errors.count, "error")} prohibited this story from being saved:"
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :points
    = f.number_field :points
  .field
    = f.label :priority
    = f.number_field :priority
  .actions
    = f.submit 'Save'
