= form_for @story, :class => "form-horizontal" do |f|
  -if @story.errors.any?
    .alert.alert-error
      %h2= "Sorry, there appears to be errors on this form. Please correct the following errors and resubmit."
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .control-group
      = f.label :name, :class => "control-label"
      .input
        = f.text_field :name, :placeholder => "Enter the name"
    .control-group
      = f.label :description, :class => "control-label"
      .input
        = f.text_area :description
    - if @story.can_assign?
      .control-group
        = f.label :user_id, "Assignee", :class => "control-label"
        .input
          = f.select :user_id, Story.user_options
    .control-group
      = f.label :points, :class => "control-label"
      .input
        = f.select :points, Story.points_options
    .control-group
      = f.label :priority, :class => "control-label"
      .input
        = f.select :priority, Story.priority_options
    .actions
      = f.submit 'Save', :class => "btn btn-primary"
      -if @story.persisted?
        = link_to 'Cancel', @story, :class => "btn"
      = link_to 'List', stories_path, :class => "btn"
