.sidebar
  .well
    %h5 Free developers
    %ul.developers
      - @free_developers.each do |developer|
        %li= render 'developer', :developer => developer
    %h5 Busy developers
    %ul.developers
      - @busy_developers.each do |developer|
        %li= render 'developer', :developer => developer
.content
  .row
    .span17
      .statuses
        - Story.count_stories_grouped_by_status.each do |status, count|
          %span{:class => "status #{status.downcase == 'all' ? 'selected' : ''}"}
            %a{:rel=> "#{status.downcase}"}= status
            %span.count= "(#{count})"
      %h2 Active sprint
      .stories
        - @stories.each do |story|
          - status_cls = "status-#{story.status_text.downcase}"
          - user_cls = story.user_id ? "user-#{story.user_id}" : ""
          %div{:class => "story #{status_cls} #{user_cls}"}
            %h3= link_to story.name, story
            %p.pull-right
              %span{:class => "label #{story.status_text.downcase}"}= story.status_text
            .description
              = story.description
            -#%td= story.user_id
            -#%td= story.points
            -#%td= story.priority
      = link_to 'New Story', new_story_path, :class => "btn primary"
    .span3
      %h2 Backlog
      .stories
        - @backlog_stories.each do |story|
          .story
            %h3= link_to story.name, story
            %p.pull-right
              %span{:class => "label #{story.status_text.downcase}"}= story.status_text
            .description
              = story.description