- if notice
  .alert-message.info
    %p= notice

%section
  .page-header
    %h1
      = @story.name
      %small= @story.status_text
  .row
    .span4.columns
      -if @story.user_id
        %figure
          %img{:src => "/assets/developers/no_developer.jpg", :width => "118px", :height => "118px"}
          %figcaption
            %p= @story.user.user_profile.full_name
      -else
        %h4 Not assigned yet
    .span12.columns
      %h3 Description
      %pre.prettyprint
        = @story.description
      %h3
        Points -
        = @story.points
      %h3
        Priority -
        = @story.priority_text

      %h3 Comments
      #comments
        - @story_comments.each do |comment|
          .comment
            %p= "#{comment.user.user_profile.full_name} (#{comment.created_at})"
            %pre
              = comment.comment
      #comment_add
        = render 'story_comments/form'

= link_to 'Edit', edit_story_path(@story), :class => "btn primary"
= link_to 'List', stories_path, :class => "btn"
%p.pull-right
  = link_to 'Delete', @story, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"