- if notice
  .alert-message.info
    %p= notice

%section
  .page-header
    %h1
      = @story.name
      %small= @story.status_text
  .row
    .span4.columns
      Developer section
      = @story.user_id
    .span12.columns
      %h3 Description
      %pre.prettyprint
        = @story.description
      %h3
        Points
        = @story.points
      %h3
        Priority
        = @story.priority

= link_to 'Edit', edit_story_path(@story), :class => "btn primary"
= link_to 'Back', stories_path, :class => "btn"
%p.pull-right
  = link_to 'Delete', @story, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"