%section
  .page-header
    %h1
      = @story.name
      %small= @story.status
  .row
    .span4.columns
      -if @story.user_id
        %figure
          %img{:src => "/assets/developers/no_developer.jpg", :width => "118px", :height => "118px"}
          %figcaption
            %p= @story.user
      -else
        %h4 Not assigned yet
    .span12.columns
      %h3 Description
      %pre.prettyprint
        = @story.description
      %h3
        Points -
        = @story.points
      %h3
        Priority -
        = @story.priority_text

      %h3 Comments
      #comments
        - @story_comments.each do |comment|
          .comment
            %p= "#{comment.user} (#{comment.created_at})"
            %pre
              = comment.comment
      = button_tag 'Add comment', :class => "btn primary", :id => "comment_add_btn"
      #comment_add_form{:style => "display: none;"}
        = render 'story_comments/form'

- @story.status_events.each do |e|
  = link_to e.capitalize, update_story_status_url({:id => @story.id, :event => e}), :class => "btn btn-primary"

- if !@story.finished?
  = link_to 'Edit', edit_story_path(@story), :class => "btn"

= link_to 'List', stories_path, :class => "btn"
%p.pull-right
  = link_to 'Delete', @story, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"